


        header {
            text-align: center;

            color: white;
            text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
     
        }

        h1 {
            font-size: 1.8rem;
           /* margin-bottom: 10px;*/
        }
        
        
        .secao{
        }
        .secao-header{
          width: 100%;
       /*   background: red;*/
          
        }

        .subtitle {
            font-size: 1rem;
            opacity: 0.9;
        }
        
    
        .time-container {
            width: 100%;
        
            
        }
        
        

        